.contact-us {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.contact-us-main {
  display: flex;
  margin-top: 6rem;
  width: 100%;
}

.contact-us-container {
  width: 40%;
  background-color: #41c2f1;
  /* margin-top: 6rem; */
  /* padding: 6rem 13rem; */
  color: #ffffff;
  line-height: 2rem;
}

.contacts-card-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; */
  padding: 8rem 5rem;
  width: 60%;
  line-height: 2rem;
}

.contacts-card-container p {
  font-size: 1rem;
  width: 100%;
}

.contacts-card-container .p1 {
  font-size: 1rem;
  font-weight: 900;
}

.contacts-card-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.contact-card {
  margin-top: 3rem;
  line-height: 1.5rem;
}

.contact-card .role {
  color: #00a996;
  font-size: 0.9rem;
  font-weight: 900;
}

.contact-card .name {
  font-size: 1.3rem;
  font-weight: 900;
}

.contact-card .name-contact {
  line-height: 1.8rem;
  font-size: 1.3rem;
  font-weight: 900;
} 

.contact-card .org {
  font-size: 0.8rem;
  /* margin-bottom: 2rem; */
}

.contact-card .email {
  font-size: 0.9rem;
  color: #009FDA;
  text-decoration: underline;
  cursor: pointer;
}

.contact-card .email:hover{
  text-decoration: none;
}

.contact-card-email {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.contact-card-email img {
  width: 30px;
  height: 30px;
}


