.DecarbonizingInfrastructure .list-title {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}

.DecarbonizingInfrastructure .Decarbonizing-Infrastructure-section {
  padding: 4rem;
}

.DecarbonizingInfrastructure
  .Decarbonizing-Infrastructure-section
  .center-text {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.Decarbonizing-Infrastructure-link-container {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.2rem;
}

.Decarbonizing-Infrastructure-sec-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* .Decarbonizing-Infrastructure-title-new {
  font-size: 1.5rem !important;
} */

.Decarbonizing-Infrastructure-container img {
  width: 40rem;
}

.DecarbonizingInfrastructure .center-light-text {
  font-size: 1rem;
  text-align: center;
  margin: 3rem;
}

.DecarbonizingInfrastructure .center-light-text-2 {
  font-size: 1.1rem;
  text-align: center;
}

.DecarbonizingInfrastructure .Decarbonizing-Infrastructure-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.DecarbonizingInfrastructure .Decarbonizing-Infrastructure-img {
  width: 20%;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.9rem;
  position: relative;
}

.DecarbonizingInfrastructure .Decarbonizing-Infrastructure-img .image-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.DecarbonizingInfrastructure
  .Decarbonizing-Infrastructure-img
  .image-content
  h2 {
  color: #000;
  font-size: 2rem;
}

.DecarbonizingInfrastructure
  .Decarbonizing-Infrastructure-img
  .image-content
  p {
  color: #5f7786;
  font-size: 1.2rem;
}

.DecarbonizingInfrastructure
  .Decarbonizing-Infrastructure-description-container {
  width: 38%;
  margin-left: -1.1rem;
}

.DecarbonizingInfrastructure .Decarbonizing-Infrastructure-description {
  width: 40%;
  margin-left: -0.9rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.DecarbonizingInfrastructure .Decarbonizing-Infrastructure-description h2 {
  margin: 1rem 1rem 0 1rem;
  font-size: 1.3rem;
  color: #002244;
}

.DecarbonizingInfrastructure .Decarbonizing-Infrastructure-description p {
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  color: #000;
}

.DecarbonizingInfrastructure .Decarbonizing-Infrastructure-des-container {
  font-size: 1.3rem;
  width: 45%;
  margin: 6rem auto;
}

/* .Decarbonizing-Infrastructure-des-container-1 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 36%;
  gap: 0.5rem;
} */

/* .DecarbonizingInfrastructure
  .Decarbonizing-Infrastructure-des-container
  .color-rectangle-dark-blue {
  background-color: #002444;
  width: 0.5rem;
  height: 0.5rem;
} */

/* .DecarbonizingInfrastructure
  .Decarbonizing-Infrastructure-des-container
  .color-rectangle-1 {
  background-color: #005081;
  width: 0.5rem;
  height: 0.5rem;
} */

/* .DecarbonizingInfrastructure
  .Decarbonizing-Infrastructure-des-container
  .color-rectangle-2 {
  background-color: #009fd9;
  width: 0.5rem;
  height: 0.5rem;
} */

/* .DecarbonizingInfrastructure
  .Decarbonizing-Infrastructure-des-container
  .color-rectangle-3 {
  background-color: #46c5eb;
  width: 0.5rem;
  height: 0.5rem;
} */

.ico-text-card-4-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ico-text-card-4-container:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 2rem - 2rem);
  width: 0px;
  border: 1px dashed rgb(112, 112, 112, 0.5);
}

.ico-text-card-4-container .ico-text-card-4 {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
  /* gap: 2rem; */
  border-radius: 25px;
}

.ico-text-card-4-container .ico-text-card-4 .ico-text-card-4-ico {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ico-text-card-4-container .ico-text-card-4 .ico-text-card-4-ico .energy-icon {
  width: 7%;
}

.ico-text-card-4-container
  .ico-text-card-4
  .ico-text-card-4-ico
  .transport-icon {
  width: 10%;
}

.ico-text-card-4-container
  .ico-text-card-4
  .ico-text-card-4-ico
  .ico-text-card-4-title {
  align-items: center;
  font-weight: 800;
  font-size: 1.1rem;
  color: #141453;
}

.ico-text-card-4-description p {
  margin: 1rem 0.5rem;
}

.ico-text-card-5-container {
  background-color: #002244;
  padding: 1rem 0;
  margin: 1rem auto;
  border-radius: 25px;
  width: 100%;
}

.ico-text-card-5 {
  color: #fff;
}

.ico-text-card-5 p {
  color: #fff;
  font-size: 1rem;
  margin: 1rem 1rem 2rem 1rem;
  text-align: center;
}

.ico-text-card-5-flow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 2rem;
  margin: 1rem 0;
}

.ico-text-card-5-infographics {
  display: flex;
  gap: 1rem;
  align-content: center;
  align-items: center;
  justify-content: left;
  color: #fff;
  width: 100%;
}

.ico-text-card-5-infographics-letter {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  background-color: #fff;
  color: #002244;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.ico-text-card-5-infographics-letter p {
  font-size: 1.5rem;
  color: #009fda;
  font-weight: 900;
}

.ico-text-card-5-infographics-letter-info {
  font-size: 1rem;
  line-height: 1.5rem;
}

.ico-text-card-5-infographics-letter-info-title {
  font-weight: bold;
}

.ico-text-card-5-arrow {
  font-size: 2.8rem;
  font-weight: 400;
  color: #00a996;
  line-height: 1;
  flex-shrink: 0;
}

@media (min-width: 1400px) {
  .DecarbonizingInfrastructure .mTop2 {
    margin: 3rem 0;
  }
  .DecarbonizingInfrastructure .hero {
    height: 640px;
  }
  .DecarbonizingInfrastructure .hero-content h3 {
    font-size: 3.25rem;
  }

  .DecarbonizingInfrastructure .hero-content p {
    font-size: 1.125rem;
  }
  .DecarbonizingInfrastructure .list-title {
    font-size: 1.3rem;
    margin: 1rem 0 2.5rem 0;
  }
}

@media (max-width: 1390px) {
  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    h2 {
    font-size: 1.5rem;
  }

  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    p {
    font-size: 1rem;
  }
}

@media (max-width: 1300px) {
  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-description-container {
    margin-left: -1.1rem;
  }

  .DecarbonizingInfrastructure .Decarbonizing-Infrastructure-description {
    margin-left: -1.9rem;
    width: 45%;
  }
  /* .DecarbonizingInfrastructure .Decarbonizing-Infrastructure-des-container {
    left: 33%;
    top: 56%;
  } */
}

@media (min-width: 1200px) {
  .DecarbonizingInfrastructure .list-title {
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0;
  }
}

@media (max-width: 1150px) {
  .DecarbonizingInfrastructure .Decarbonizing-Infrastructure-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
  /* .DecarbonizingInfrastructure .Decarbonizing-Infrastructure-des-container {
    position: static;
    padding-top: 1.5rem;
  } */

  .DecarbonizingInfrastructure .Decarbonizing-Infrastructure-img {
    width: 20%;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.9rem;
    min-width: 180px;
  }

  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    h2 {
    font-size: 2rem;
  }

  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    p {
    font-size: 1.2rem;
  }
  .DecarbonizingInfrastructure .Decarbonizing-Infrastructure-description {
    width: 100%;
    margin-left: 0.9rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    border-radius: 25px;
  }
  .ico-text-card-4-container .ico-text-card-4 {
    height: 250px;
  }
  .ico-text-card-5-infographics-letter {
    width: 2rem;
    height: 2rem;
  }
  .ico-text-card-5-infographics-letter p {
    font-size: 1rem;
  }
}

@media (max-width: 1090px) {
  .DecarbonizingInfrastructure .Decarbonizing-Infrastructure-description {
    margin: 0;
  }
  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    h2 {
    font-size: 1.3rem;
  }

  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    p {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .DecarbonizingInfrastructure .mTop2 {
    margin: 3rem 0;
  }
}

@media (max-width: 1000px) {
  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    h2 {
    font-size: 1.3rem;
  }

  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    p {
    font-size: 0.9rem;
  }
}

@media (max-width: 890px) {
  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    h2 {
    font-size: 1rem;
  }

  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    p {
    font-size: 0.7rem;
  }
  .ico-text-card-4-container .ico-text-card-4 {
    height: 250px;
  }
  .ico-text-card-5-infographics-letter {
    width: 1.9rem;
    height: 1.9rem;
  }
  .ico-text-card-5-infographics-letter p {
    font-size: 0.9rem;
  }
}

@media (max-width: 960px) {
  .Decarbonizing-Infrastructure-sec-container {
    flex-direction: column;
    gap: 2rem;
  }
  .Decarbonizing-Infrastructure-des-container {
    width: 100% !important;
    margin-top: 3rem !important;
  }
  .Decarbonizing-Infrastructure-link-container {
    margin-top: 1rem;
  }
}

@media (min-width: 992px) {
  .DecarbonizingInfrastructure .list-title {
    text-align: left;
  }
}

.DecarbonizingInfrastructure .border {
  border: 1px dashed rgba(134, 134, 134, 0.5);
  margin: 2rem 1rem;
}

.VCard-cnt {
  margin-bottom: 2rem;
}

.v-small-text {
  text-align: center;
  margin: 1rem 0 0 0;
  font-size: 0.9375rem;
}
/* 

@media (max-width: 829px) {
  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    h2 {
    font-size: 1.3rem;
  }

  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    p {
    font-size: 0.9rem;
  }
} */

@media (max-width: 800px) {
  .ico-text-card-4-container {
    flex-direction: column;
    gap: 0rem;
  }
  .ico-text-card-4-container:not(:first-child)::after {
    display: none;
  }
  .ico-text-card-4-container .ico-text-card-4 .ico-text-card-4-ico {
    align-content: center;
  }

  .ico-text-card-4-container
    .ico-text-card-4
    .ico-text-card-4-ico
    .energy-icon {
    width: 14%;
  }

  .ico-text-card-4-container
    .ico-text-card-4
    .ico-text-card-4-ico
    .transport-icon {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .DecarbonizingInfrastructure .list-title {
    text-align: left;
  }

  .DecarbonizingInfrastructure .border {
    .list-title {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    h2 {
    font-size: 1rem;
  }

  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    p {
    font-size: 0.7rem;
  }
}

@media (max-width: 700px) {
  .ico-text-card-5-container {
    width: 100%;
  }

  .ico-text-card-5-flow {
    flex-direction: column;
  }
  .ico-text-card-5-arrow {
    display: inline-block;
    transform: rotate(90deg);
  }

  .ico-text-card-5-infographics {
    justify-content: left;
    width: 100%;
  }
}

@media (max-width: 649px) {
  .DecarbonizingInfrastructure .Decarbonizing-Infrastructure-section {
    padding: 2rem;
  }
  .Decarbonizing-Infrastructure-des-container-1 {
    width: 100%;
    justify-content: left;
  }
  .DecarbonizingInfrastructure .Header3 .container {
    padding-bottom: 0;
  }

  .container.noPTop {
    padding-top: 1rem;
  }
  .DecarbonizingInfrastructure .hero {
    height: 360px;
  }

  .DecarbonizingInfrastructure .hero-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .DecarbonizingInfrastructure .hero-content {
    bottom: 2rem;
  }

  .DecarbonizingInfrastructure .hero-content p {
    font-size: 0.875rem;
  }
  .DecarbonizingInfrastructure .Decarbonizing-Infrastructure-img {
    width: 20%;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.9rem;
  }
  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    h2 {
    font-size: 1rem;
  }

  .DecarbonizingInfrastructure
    .Decarbonizing-Infrastructure-img
    .image-content
    p {
    font-size: 0.8rem;
  }

  .DecarbonizingInfrastructure .center-light-text {
    margin: 1.5rem 0;
  }

  .DecarbonizingInfrastructure .center-light-text-2 {
    font-size: 0.7rem;
  }
}

@media (max-width: 690px) {
  .ico-text-card-4-container .ico-text-card-4 {
    height: 332px;
  }
}

@media (max-width: 500px) {
  .ico-text-card-4-container .ico-text-card-4 {
    height: 332px;
    width: 100%;
  }

  .ico-text-card-5-container {
    width: 100%;
  }

  .ico-text-card-5-flow {
    padding: 0 1rem;
  }
}

@media (max-width: 400px) {
  /* .ico-text-card-5-flow {
    padding: 0 3rem;
  }
     */
}
