.DiagnosingVulnerabilities .list-title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

@media (max-width: 649px) {
  .DiagnosingVulnerabilities .Header3 .container {
    padding-bottom: 0;
  }

  .container.noPTop {
    padding-top: 1rem;
  }
  .DiagnosingVulnerabilities .hero {
    height: 360px;
  }

  .DiagnosingVulnerabilities .hero-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .DiagnosingVulnerabilities .hero-content {
    bottom: 2rem;
  }

  .DiagnosingVulnerabilities .hero-content p {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .DiagnosingVulnerabilities .list-title {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .DiagnosingVulnerabilities .list-title {
    font-size: 1.3rem;
    margin-bottom: 1.5625rem;
  }
}

@media (min-width: 992px) {
  .DiagnosingVulnerabilities .list-title {
    text-align: center;
  }
}

.link-text {
  margin-bottom: 2rem;
}

.DiagnosingVulnerabilities .border {
  border: 1px dashed rgba(134, 134, 134, 0.5);
  margin: 2rem 1rem;
}

.VCard-cnt {
  margin-bottom: 2rem;
}

.v-small-text {
  text-align: center;
  margin: 1rem 0 0 0;
  font-size: 0.9375rem;
}

@media (min-width: 1024px) {
  .link-text {
    text-align: center;
    max-width: 90%;
    margin: 1rem auto;
  }

  .DiagnosingVulnerabilities .mTop2 {
    margin: 3rem 0;
  }
}

@media (min-width: 1200px) {
  .DiagnosingVulnerabilities .list-title {
    font-size: 1.5rem;
    margin: 2.075rem 0 3.775rem 0;
  }
}

@media (min-width: 1400px) {
  .link-text {
    max-width: 90%;
    margin: 1rem auto;
    font-size: 1.875rem;
  }

  .DiagnosingVulnerabilities .mTop2 {
    margin: 3rem 0;
  }
  .DiagnosingVulnerabilities .hero {
    height: 640px;
  }
  .DiagnosingVulnerabilities .hero-content h3 {
    font-size: 3.25rem;
  }

  .DiagnosingVulnerabilities .hero-content p {
    font-size: 1.125rem;
  }
  .DiagnosingVulnerabilities .list-title {
    font-size: 1.5rem;
    margin: 2.075rem 0 3.775rem 0;
  }
}

@media (min-width: 1600px) {
  .link-text {
    max-width: 1480px;
    margin: 1rem auto;
  }
}
