.fundamentals_of_qii-header {
  width: 100%;
  position: relative;
}

.fundamentals_of_qii-header .fundamentals_of_qii-header-bg {
  background-image: url("/images/fundamentals_of_qii/FQII.png");
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.fundamentals_of_qii-header-title {
  position: absolute;
  top: 50%;
  color: #fff;
  margin-left: 5rem;
}

.fundamentals_of_qii-header-title h1 {
  font-size: 3rem;
}

.fundamentals_of_qii-header-title p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.what-is-qii-section {
  padding: 4rem;
}

.what-is-qii-section .center-text {
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
}

.what-is-qii-section .what-is-qii-title {
  padding: 1rem;
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: 700;
  text-align: center;
}

.what-is-qii-section .what-is-qii-description {
  padding: 1rem;
  font-size: 1.2rem;
}

.what-is-qii-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 2rem;
  /* margin-top: 2rem; */
  width: 100%;
  padding: 1rem 2rem;
}

.what-is-qii-card {
  background-color: #ffffff;
  padding: 1rem;
  width: calc((100% - 6rem) / 3);
}

.what-is-qii-container-image {
  margin-bottom: 1rem;
}

.what-is-qii-container-description {
  font-size: 1.2rem;
  padding: 0 0.8rem 1rem 0.8rem;
  /* height: 180px; */
}

.center-text-qii-generations {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.qii-generations-mobile,
.qii-generation-container-mobile,
.qii-generation-description-mobile-left .qii-generation-image-mobile,
.timeline-circle-1-mobile .qii-generation-description-mobile-right {
  display: none;
}

.qii-generations {
  width: 100%;
  /* margin: 2rem auto; */
  /* padding: 0rem 3rem 2rem 3rem; */
}

.timeline-item-text {
  font-size: 1rem;
  width: 25%;
  text-align: center;
}

.qii-generation-upper-description-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
}

.qii-generation-timeline-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

.qii-generation-timeline-image-container .timeline-item-text-image {
  width: 15rem;
  position: relative;
}

.timeline-item-text-image-2,
.timeline-item-text-image-4 {
  top: 4.4rem;
}

.qii-generation-timeline-image-container
  .timeline-item-text-image
  .timeline-circle-1 {
  font-size: 1.5rem;
  font-weight: 900;
  position: absolute;
  left: 46%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.qii-generation-timeline-image-container
  .timeline-item-text-image
  .timeline-circle-11 {
  color: #00ab51;
}

.qii-generation-timeline-image-container
  .timeline-item-text-image
  .timeline-circle-2 {
  color: #009ca7;
}

.qii-generation-timeline-image-container
  .timeline-item-text-image
  .timeline-circle-3 {
  color: #009fda;
}

.qii-generation-timeline-image-container
  .timeline-item-text-image
  .timeline-circle-4 {
  color: #002244;
}

.qii-generation-timeline-image-container
  .timeline-item-text-image
  .timeline-circle-5 {
  color: #614776;
}

.qii-generation-bottom-description-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  margin-top: 4rem;
}

.qii-generation-footer {
  margin: 2rem auto;
  width: fit-content;
  margin-bottom: 1rem;
}

.qii-generation-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #fff;
  color: #000;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 1rem;
  transition:
    transform 0.4s,
    background 0.18s;
  cursor: pointer;
}

.qii-generation-btn:hover {
  background: #00a996;
  border: none;
  color: #fff;
}

.image-text-container {
  width: 100%;
  height: 28rem;
  display: flex;
  gap: 1rem;
  background-color: #002244;
  background-image: url("/images/fundamentals_of_qii/shutterstock_2492762449.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 50% 100%;
}

.image-text-container-desc {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 4rem;
  padding: 1rem;
  color: #fff;
  justify-content: center;
  align-items: flex-start;
}

.image-text-container-imag {
  width: 70%;
  display: none;
}

.image-text-container-desc p strong {
  font-weight: 900;
  font-size: 1.8rem;
}

.image-text-container-desc p {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.fundamentals_of_qii-footer-section {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 4rem;
}

.qii-six-principles {
  font-size: 1.7rem;
}

.qii-six-principles-section {
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem 6rem 3rem 6rem;
}

.qii-six-principles-section-curosal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 2rem auto;
}

.qii-six-principles-section-curosal-img {
  width: 8rem;
}

.qii-six-principles-section-curosal-description {
  width: 70%;
  font-size: 1.2rem;
}

.qii-six-principles-section-pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 0rem auto;
  padding: 10px 16px;
  border-radius: 30px;
  max-width: 100%;
  width: max-content;
}

.qii-six-principles-section-nav-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.qii-six-principles-section-nav-btn:hover {
  background: #00a996;
  color: #ffffff;
}

.qii-six-principles-section-arrow {
  font-family: "icomoon";
  font-size: 16px;
  line-height: 1;
  transition: transform 0.3s ease;
}

.qii-six-principles-section-arrow-2 {
  font-family: "icomoon";
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.qii-six-principles-section-dots {
  display: flex;
  align-items: center;
  gap: 8px;
}

.qii-six-principles-section-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #cfd8dc;
  cursor: pointer;
}

.qii-six-principles-section-dot.active {
  background: #2bb3b1;
  transform: scale(1.2);
}

.fade-in {
  animation: fadeIn 0.3s ease forwards;
}

.fade-out {
  animation: fadeOut 0.2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-6px);
  }
}

.qii-life-cycle {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.qii-life-cycle-container-section-mobile {
  display: none;
}

.qii-life-cycle-container-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  padding: 0;
  margin: 1rem auto 2rem auto;
  /* flex-wrap:wrap; */
  /* display:flex;
  justify-content:center;
  align-items:flex-start;
  flex-wrap:nowrap; */
}

.qii-life-cycle-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width:20%; */
  text-align: center;
}

.qii-life-cycle-container-images {
  position: relative;
}

.qii-life-cycle-container-images img,
.qii-life-cycle-container-images p {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 900;
  color: #fff;
  /* height: 11.8rem; */
}

.qii-life-cycle-container-images p {
  cursor: pointer;
}

.qii-life-cycle-container-images .qii-life-cycle-img-1 {
  left: 1.6%;
  width: 22.4%;
}

.qii-life-cycle-container-images .qii-life-cycle-img-2 {
  left: 21.8%;
  width: 22.4%;
}

.qii-life-cycle-container-images .qii-life-cycle-img-3 {
  left: 42.1%;
  width: 22.4%;
}

.qii-life-cycle-container-images .qii-life-cycle-img-4 {
  left: 62.4%;
  width: 22.4%;
}

.qii-life-cycle-container-images .qii-life-cycle-img-5 {
  left: 82.7%;
  width: 18.9%;
}

.qii-life-cycle-img-txt-1 {
  left: 9%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.qii-life-cycle-img-txt-2 {
  left: 29%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.qii-life-cycle-img-txt-3 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.qii-life-cycle-img-txt-4 {
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.qii-life-cycle-img-txt-5 {
  left: 90.6%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.qii-life-cycle-stage-image {
  /* width: 13rem; */
  position: relative;
}

.qii-life-cycle-stage-image img {
  /* height: 10rem; */
  width: auto;
}

.qii-life-cycle-stage-img-1 {
  z-index: 5555555;
}

.qii-life-cycle-stage-img-2 {
  z-index: 444444444444;
}

.qii-life-cycle-stage-img-3 {
  z-index: 333;
}

.qii-life-cycle-stage-img-4 {
  z-index: 44;
}

.qii-life-cycle-stage-img-5 {
  width: 11rem;
  z-index: 5;
}

.qii-life-cycle-stage-1-desc {
  width: 90%;
  text-align: center;
}

.qii-life-cycle-stage-1-title {
  position: absolute;
  top: 50%;
  left: 34%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  font-weight: 900;
  color: #fff;
}

.qii-life-cycle-stage-1-title-1 {
  position: absolute;
  top: 50%;
  left: 41%;
  transform: translate(-50%, -50%);
}

.global-infrastructure-section-container {
  width: 100%;
  position: relative;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1rem;
  margin: 2rem auto;
}

.global-infrastructure-section-container:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100%);
  width: 0px;
  border: 1px dashed rgb(112, 112, 112, 0.5);
}

.global-infrastructure-section-container .global-infrastructure-section-left {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
}

.global-infrastructure-section-left .global-infrastructure-section-left-img {
  width: 8rem;
}

.global-infrastructure-section-left .global-infrastructure-section-left-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.3rem;
}

.global-infrastructure-section-left
  .global-infrastructure-section-left-title
  .global-infrastructure-section-left-heading {
  font-size: 2rem;
}

.global-infrastructure-section-left
  .global-infrastructure-section-left-group-icons {
  margin-top: 1rem;
  width: 14rem;
}

.global-infrastructure-section-left
  .global-infrastructure-section-left-description {
  width: 93%;
  background-color: #e5f5fb;
  padding: 1rem;
  border-radius: 25px;
  margin: 2rem 4rem 1rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 1rem 2.5rem 1rem;
}

.global-infrastructure-section-left-des-link {
  text-align: center;
  font-size: 1rem;
}

.global-infrastructure-section-container .global-infrastructure-section-right {
  width: 50%;
}

.global-infrastructure-section-right
  .global-infrastructure-section-right-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 3rem 0rem 1rem 0rem;
}

.global-infrastructure-section-right
  .global-infrastructure-section-right-sub-title {
  font-size: 1.3rem;
  width: 50%;
  text-align: center;
}

.global-infrastructure-section-right
  .global-infrastructure-section-right-title-1 {
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 900;
}

.global-infrastructure-section-right
  .global-infrastructure-section-left-group-icons-container {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 2.3rem 2rem 4.3rem 0.7rem;
}

.global-infrastructure-section-left-group-icons-container:not(
    :first-child
  )::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 2.5rem - 1rem);
  width: 0px;
  border: 1px dashed rgb(112, 112, 112, 0.5);
}

.global-infrastructure-section-left-group-icons-left {
  width: 50% !important;
}

.global-infrastructure-section-left-group-icons-img {
  width: 6rem;
  margin: 1rem 1rem 1rem auto;
}

.global-infrastructure-section-left-group-icons-title {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  width: 77%;
  text-align: center;
  margin: 1rem auto;
}

.global-infrastructure-section-left-group-icons-right {
  width: 50% !important;
}

.global-infrastructure-section-left-group-icons-img-right {
  width: 6rem;
  margin: 1rem auto 1rem 1rem;
}

.global-infrastructure-section-left-group-icons-title-right {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  width: 76%;
  text-align: center;
  margin: 1rem auto;
}

.global-infrastructure-section-right-description {
  background-color: #e5f5fb;
  padding: 1rem;
  border-radius: 25px;
  margin: 0rem 3rem 3rem 3rem;
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 1rem 1.3rem 1rem;
  width: 93%;
}

.global-infrastructure-section-right
  .global-infrastructure-section-right-des-link {
  text-align: center;
  font-size: 1rem;
  margin-left: 2.8rem;
}

.life-cycle-container {
  position: relative;
}

.life-cycle-popup-container {
  position: absolute;
  z-index: 999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.life-cycle-popup-box {
  width: 70%;
  box-shadow: 0px 3px 25px #00000029;
  background: #f1f8ff 0% 0% no-repeat padding-box;
  border-radius: 30px;
  padding: 2rem 3rem;
  color: #333333;
  position: relative;
}

.life-cycle-popup-box-close {
  position: absolute;
  right: 3rem;
  top: 2rem;
  cursor: pointer;
}

.life-cycle-popup-title1 {
  font-size: 1rem;
  font-weight: 900;
  margin-top: 1.5rem;
}

.life-cycle-popup-title2 {
  font-size: 1.8rem;
  color: #00a996;
  font-weight: 900;
  margin: 0.6rem 0;
}

.life-cycle-popup-box hr {
  margin: 2rem 0;
  opacity: 0.7;
}

.life-cycle-popup-title3 {
  text-align: center;
}

.life-cycle-popup-button-text {
  font-size: 0.9rem;
}

.life-cycle-popup-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0 0 0;
  justify-content: space-between;
}

.life-cycle-popup-button {
  width: 48%;
  background: #ffffff;
  box-shadow: 0px 10px 30px #00000029;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 200px;
  transition: all 0.3s;
}

.life-cycle-popup-button:hover {
  background: #00a996;
  border: none;
  color: #fff;
}

.popup-stage-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.popup-stage-number-circle {
  height: 2.2rem;
  width: 2.2rem;
  background: #959595;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cacaca;
  border-radius: 3rem;
  position: relative;
  font-size: 0.9rem;
}

.popup-stage-number-circle-line {
  position: absolute;
  height: 2px;
  width: 2rem;
  top: 50%;
  left: 100%;
  background: #959595;
}

.popup-stage-number-active-circle,
.popup-stage-number-active-circle .popup-stage-number-circle-line {
  background: #00a996;
  color: #ffffff;
}

@media (min-width: 1600px) {
  .qii-generation-timeline-image-container .timeline-item-text-image {
    width: 25%;
    position: relative;
  }
  .qii-generation-timeline-image-container .timeline-item-text-image img {
    width: 100%;
  }
}

@media (max-width: 1080px) {
  .qii-life-cycle-container-images p {
    font-size: 1.1rem;
  }
}

@media (max-width: 1000px) {
  .qii-life-cycle-container-images p {
    font-size: 1rem;
  }
  .global-infrastructure-section-container .global-infrastructure-section-left {
    width: 100%;
  }
  .global-infrastructure-section-container
    .global-infrastructure-section-right {
    width: 100%;
  }
  .global-infrastructure-section-right
    .global-infrastructure-section-right-title {
    padding: 3rem 0rem 0rem 0rem;
  }
}

@media (max-width: 1100px) {
  .qii-generation-timeline-image-container
    .timeline-item-text-image
    .timeline-circle-1 {
    font-size: 1.1rem;
  }
}

@media (max-width: 1140px) {
  .qii-life-cycle-container-section-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    margin: 4rem;
    display: none;
  }

  .qii-life-cycle-container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
  .qii-life-cycle-stage-image-mobile {
    width: 10rem;
  }
  .qii-life-cycle-stage-1-desc-mobile {
    width: 25%;
    text-align: center;
  }
  .qii-life-cycle-stage-1-title-mobile {
    position: absolute;
    top: 20%;
    left: 42.3%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-weight: 900;
    color: #fff;
  }

  .qii-life-cycle-stage-2-title-mobile {
    position: absolute;
    top: 36.1%;
    left: 42.3%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-weight: 900;
    color: #fff;
  }

  .qii-life-cycle-stage-3-title-mobile {
    position: absolute;
    top: 52.2%;
    left: 42.3%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-weight: 900;
    color: #fff;
  }

  .qii-life-cycle-stage-4-title-mobile {
    position: absolute;
    top: 68.7%;
    left: 42.3%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-weight: 900;
    color: #fff;
  }

  .qii-life-cycle-stage-5-title-mobile {
    position: absolute;
    top: 85%;
    left: 42.4%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-weight: 900;
    color: #fff;
  }
}

@media (max-width: 1020px) {
  .qii-generation-upper-description-container,
  .qii-generation-timeline-image-container,
  .qii-generation-bottom-description-container,
  .timeline-circle-1 {
    display: none;
  }

  .center-text-qii-generations {
    margin-bottom: 3rem;
  }

  .qii-generation-footer {
    margin: 3rem auto;
  }

  .qii-generations-mobile,
  .qii-generation-container-mobile,
  .qii-generation-description-mobile-left .qii-generation-image-mobile,
  .timeline-circle-1-mobile .qii-generation-description-mobile-right {
    display: block;
  }
  .qii-generations-mobile {
    width: 100%;
    margin: 1rem;
    position: relative;
  }
  .qii-generation-container-mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    /* margin: 0 3rem; */
  }

  .qii-generation-image-mobile-2,
  .qii-generation-image-mobile-4 {
    right: 4.5rem;
  }

  .qii-generation-container-mobile:not(:first-child) {
    margin-top: 3rem;
  }

  .qii-generation-description-mobile,
  .qii-generation-image-mobile,
  .qii-generation-description-mobile {
    width: 30%;
  }

  .qii-generation-image-mobile {
    position: relative;
  }

  .qii-generation-image-mobile img {
    width: 15rem;
    transform: rotate(90deg);
  }
  .qii-generation-description-mobile-left {
    width: 30%;
    text-align: center;
    margin: 0 1rem;
  }
  .qii-generation-description-mobile-right {
    width: 30%;
    text-align: center;
    margin: 0rem;
  }
  .timeline-circle-1-mobile {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 900;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 1000px) {
  .image-text-container {
    flex-direction: column-reverse;
    background-image: none;
  }
  .image-text-container {
    height: 100%;
  }
  .image-text-container-imag {
    display: block;
    width: 100%;
  }
  .image-text-container-desc {
    width: 100%;
  }
  .timeline-circle-1-mobile {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 900;
    left: 45%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
  .timeline-circle-1-mobile-1 {
    color: #00ab51;
  }
  .timeline-circle-1-mobile-2 {
    color: #009ca7;
  }
  .timeline-circle-1-mobile-3 {
    color: #009fda;
  }
  .timeline-circle-1-mobile-4 {
    color: #002244;
  }
  .timeline-circle-1-mobile-5 {
    color: #614776;
  }
}

@media (max-width: 999px) {
  .what-is-qii-container {
    flex-direction: column;
  }
  .what-is-qii-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  .what-is-qii-container-image {
    width: 50%;
  }
  .what-is-qii-container-description {
    width: 50%;
    padding: 0rem 0.5rem;
  }
}

@media (max-width: 900px) {
  .fundamentals_of_qii-header {
    position: static;
  }

  .fundamentals_of_qii-header .fundamentals_of_qii-header-bg {
    height: 300px;
    background-size: cover;
    background-position: center;
  }

  .fundamentals_of_qii-header-title {
    position: static;
    text-align: center;
    padding: 2rem 1rem;
    margin: 0;
    color: #000;
    width: 100%;
  }

  .fundamentals_of_qii-header-title h1 {
    font-size: 1.7rem;
  }

  .fundamentals_of_qii-header-title p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .what-is-qii-section {
    padding: 2rem 4rem 4rem 4rem;
  }

  .global-infrastructure-section-container {
    flex-direction: column;
  }

  .timeline-circle-1-mobile {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 900;
    left: 46%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .global-infrastructure-section-container:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 56%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0;
    border-top: 1px dashed rgba(112, 112, 112, 0.5);
  }

  .global-infrastructure-section-left
    .global-infrastructure-section-left-description {
    width: 100%;
    margin: 1rem 4rem;
    padding: 2rem 1rem 2.5rem 1rem;
  }

  .global-infrastructure-section-left-des-link {
    margin-bottom: 0rem;
  }
  .global-infrastructure-section-left,
  .global-infrastructure-section-right {
    /* margin-top: 3rem; */
    width: 100%;
  }
  .global-infrastructure-section-left-group-icons-left,
  .global-infrastructure-section-left-group-icons-right {
    width: 100% !important;
  }

  .global-infrastructure-section-right
    .global-infrastructure-section-left-group-icons-container {
    gap: 3rem;
    margin: 0rem 0rem 1rem 0rem;
  }
  .global-infrastructure-section-left-group-icons-title {
    width: 100%;
  }
  .global-infrastructure-section-left-group-icons-title-right {
    width: 100%;
  }
  .global-infrastructure-section-right-description {
    width: 100%;
    margin: 1rem auto;
    padding: 2rem;
  }
}

@media (max-width: 810px) {
  .timeline-circle-1-mobile {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 900;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 890px) {
  .qii-life-cycle-container-images {
    display: none;
  }
  .qii-life-cycle-container-section {
    display: none;
  }
  .qii-life-cycle-container-section-mobile {
    display: block;
  }
  .mobile-qii-life-cycle-container {
    position: relative;
    margin-top: -1.6rem;
    z-index: 999;
  }
  .mobile-qii-life-cycle-container-2 {
    z-index: 4;
  }
  .mobile-qii-life-cycle-container-3 {
    z-index: 2;
  }
  .mobile-qii-life-cycle-container-4 {
    z-index: 1;
  }
  .mobile-qii-life-cycle-container-5 {
    z-index: 0;
  }
  .qii-life-cycle-description-mobile {
    position: absolute;
    left: 60%;
    top: 31%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
  }
  .qii-life-cycle-img-txt-1-mobile {
    position: absolute;
    font-size: 1.3rem;
    font-weight: 900;
    color: #fff;
    top: 34%;
    left: 12.6%;
    transform: translate(-50%, -50%);
  }

  .qii-life-cycle-img-txt-1-mobile-5 {
    top: 41%;
  }
}

@media (max-width: 750px) {
  .what-is-qii-container-description {
    font-size: 1rem;
  }
}

@media (max-width: 680px) {
  .qii-life-cycle-img-txt-1-mobile {
    font-size: 1.2rem;
    top: 34%;
    left: 14%;
    transform: translate(-50%, -50%);
  }

  .qii-life-cycle-img-txt-1-mobile-5 {
    top: 41%;
    left: 14.8%;
  }
  .what-is-qii-container-description {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .qii-life-cycle-container-section-mobile {
    margin: 4rem 0;
  }
  .qii-life-cycle-description-mobile {
    left: 72%;
  }
  .qii-life-cycle-img-txt-1-mobile {
    font-size: 1.2rem;
    top: 35%;
    left: 16.7%;
    transform: translate(-50%, -50%);
  }

  .qii-life-cycle-img-txt-1-mobile-5 {
    top: 41%;
    left: 16.8%;
  }
}
