/* .governance .subpagehero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 1rem;
}

.governance .list-title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
} */

/* .governance .Header3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.governance .Header3 .title,
.governance .governance .hero-content {
  display: inline-flex;
  align-items: center;
}

.governance .hero-content {
  /* margin-top: 2.8rem;  */
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.last-text {
  margin: 2rem 0;
}

p.margin-bottom {
  margin-bottom: 1.5rem;
}

@media (min-width: 659px) {
  .Header3 .container {
    padding: 6rem 1rem 1rem 1rem;
  }
  .governance .list-title {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }

  .last-text {
    margin: 1rem 0;
  }
}

@media (min-width: 768px) {
  .Header3 .container {
    padding: 8rem 1rem 2rem 1rem;
  }
  .governance .list-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .last-text {
    margin: 2rem 0;
  }
}

@media (min-width: 992px) {
  .governance .list-title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .governance .list-title {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .governance .list-title {
    font-size: 1.575rem;
    /* margin: 1rem 0 2rem 0; */
  }

  .last-text {
    margin: 3rem auto;
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .governance .list-title {
    font-size: 1.875rem;
    margin: 0 0 2rem 0;
  }

  .last-text {
    margin: 4rem auto;
  }

}
