.GreenFinancingforInfrastructure .list-title {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}

/* .GreenFinancingforInfrastructure .ico-text-card-1-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
} */

.GreenFinancingforInfrastructure .icon-text-cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
  gap: 2rem;
}

.GreenFinancingforInfrastructure .icon-text-cards {
	display: flex;
	/* flex-wrap: wrap; */
	gap: 2rem;
	width: calc(50% - 2rem);
	justify-content: flex-start;
	align-content: flex-start;
}

.GreenFinancingforInfrastructure .icon-img {
	align-items: center;
	text-align: center;
}

.GreenFinancingforInfrastructure .icon-img img{
	height: 40px;
	width: 40px;
}

.GreenFinancingforInfrastructure .icon-text-cards-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 400px;
}

.GreenFinancingforInfrastructure .icon-text-cards-detail ul {
  margin: 0;
  padding-left: 1rem;
}



/* 
.ico-text-card-1-pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
  margin: 24px auto 0;

  padding: 10px 16px;
  background: #eef7fb;
  border-radius: 30px;

  max-width: 100%;
  width: max-content;
} */

/* .ico-text-card-1-nav-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
} */

/* .ico-text-card-1-dots {
  display: flex;
  align-items: center;
  gap: 8px;
} */
/* 
.ico-text-card-1-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #cfd8dc;
  cursor: pointer;
}

.ico-text-card-1-dot.active {
  background: #2bb3b1;
  transform: scale(1.2);
}

.ico-text-card-1-dot:hover {
  transform: scale(1.3);
} */

/* @media (max-width: 768px) {
  .ico-text-card-1-pagination-wrapper {
    margin-top: 16px;
    padding: 8px 12px;
  }

  .ico-text-card-1-nav-btn {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }

  .ico-text-card-1-dot {
    width: 7px;
    height: 7px;
  }
} */

@media (max-width: 649px) {
  .GreenFinancingforInfrastructure .Header3 .container {
    padding-bottom: 0;
  }

  .container.noPTop {
    padding-top: 1rem;
  }
  .GreenFinancingforInfrastructure .hero {
    height: 360px;
  }

  .GreenFinancingforInfrastructure .hero-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .GreenFinancingforInfrastructure .hero-content {
    bottom: 2rem;
  }

  .GreenFinancingforInfrastructure .hero-content p {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .GreenFinancingforInfrastructure .list-title {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .GreenFinancingforInfrastructure .list-title {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .GreenFinancingforInfrastructure .list-title {
    text-align: left;
  }
}

.GreenFinancingforInfrastructure .border {
  border: 1px dashed rgba(134, 134, 134, 0.5);
  margin: 2rem 1rem;
}

.VCard-cnt {
  margin-bottom: 2rem;
}

.v-small-text {
  text-align: center;
  margin: 1rem 0 0 0;
  font-size: 0.9375rem;
}

@media (min-width: 1024px) {

  .GreenFinancingforInfrastructure .mTop2 {
    margin: 3rem 0;
  }
}

@media (min-width: 1200px) {
  .GreenFinancingforInfrastructure .list-title {
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0;
  }
}

@media (min-width: 1400px) {

  .GreenFinancingforInfrastructure .mTop2 {
    margin: 3rem 0;
  }
  .GreenFinancingforInfrastructure .hero {
    height: 640px;
  }
  .GreenFinancingforInfrastructure .hero-content h3 {
    font-size: 3.25rem;
  }

  .GreenFinancingforInfrastructure .hero-content p {
    font-size: 1.125rem;
  }
  .GreenFinancingforInfrastructure .list-title {
    font-size: 1.3rem;
    margin: 1rem 0 2.5rem 0;
  }
}

@media (min-width: 1600px) {
}
