.internal-pages-container {
  padding: 2rem;
}

.link-text {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 1rem;
}

.num1-para {
  font-size: 1rem;
}

.internal-pages-container .noPBottom {
  padding-bottom: 0;
  margin-bottom: 0 !important;
}

.ico-text-card-1-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3rem;
  margin: 2rem 2rem 0 calc(70px + 2rem);
}

.ico-text-card-1 {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 48%;
}

.ico-text-card-1-ico,
.ico-text-card-2-ico {
  width: 150px;
  aspect-ratio: 1/1;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ico-text-card-1-ico img,
.ico-text-card-2-ico img {
  height: 60%;
  max-width: 60%;
}

.ico-text-card-1-title,
.ico-text-card-2-title {
  font-weight: 800;
}

.ico-text-card-1-description {
  width: calc(100% - 2rem - 150px);
}

.ico-text-card-1-description ul {
  padding-left: 1.15rem;
}

.ico-text-card-1-description ul li {
  padding-top: 0.5rem;
}

.ico-text-card-1-description ul li::marker {
  font-size: 1.7rem;
}

.ico-text-card-2-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.ico-text-card-2 {
  width: 30%;
  padding: 0 2rem;
  text-align: center;
  position: relative;
}

.ico-text-card-2-ico {
  margin: 0 auto;
}

.ico-text-card-2-container .ico-text-card-2:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  border: 1px dashed rgb(112, 112, 112, 0.5);
}

.ico-text-card-2-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ico-text-card-2-infographics {
  width: 70%;
  margin: 1rem auto 1rem auto;
  position: relative;
}

.ico-text-card-2-infographics .mobile-img {
  display: none;
}

.ico-text-card-2-infographics img {
  width: 100%;
}

.ico-text-card-2-infographics .ico-text-card-2-infographics-p1 {
  position: absolute;
  color: #ffffff;
  top: 49%;
  left: 21.8%;
  font-size: 100%;
  width: 20%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.ico-text-card-2-infographics .ico-text-card-2-infographics-p2 {
  position: absolute;
  color: #ffffff;
  top: 49.3%;
  left: 50.4%;
  font-size: 100%;
  transform: translate(-50%, -50%);
  width: 20%;
  text-align: center;
}

.ico-text-card-2-infographics .ico-text-card-2-infographics-p3 {
  position: absolute;
  color: #ffffff;
  top: 48.7%;
  left: 78.4%;
  font-size: 100%;
  transform: translate(-50%, -50%);
  width: 20%;
  text-align: center;
}

@media (max-width: 1399px) {
  .ico-text-card-1-container {
    margin: 2rem 2rem 0 calc(60px + 1.8rem);
  }
}

@media (max-width: 1399px) {
  .ico-text-card-1-container {
    margin: 2rem 2rem 0 calc(60px + 1.8rem);
  }
}

@media (max-width: 1125px) {
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p3,
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p2,
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p1 {
    font-size: 80%;
  }
}

@media (max-width: 1199px) {
  .ico-text-card-1-container {
    margin: 2rem 2rem 0 calc(60px + 1rem);
  }
  .ico-text-card-1-ico {
    width: 120px;
  }

  .ico-text-card-1-description {
    width: calc(100% - 2rem - 120px);
  }
}

@media (max-width: 999px) {
  .ico-text-card-1 {
    width: 100%;
  }
}

@media (max-width: 910px) {
  .ico-text-card-2-infographics .desk-img {
    display: none;
  }
  .ico-text-card-2-infographics .mobile-img {
    display: block;
    width: 43%;
    height: 100%;
    margin: 0 auto;
  }
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p1 {
    position: absolute;
    color: #ffffff;
    top: 22%;
    left: 50.8%;
    font-size: 100%;
    width: 34%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .ico-text-card-2-infographics .ico-text-card-2-infographics-p2 {
    position: absolute;
    color: #ffffff;
    top: 51.3%;
    left: 51.4%;
    font-size: 100%;
    transform: translate(-50%, -50%);
    width: 34%;
    text-align: center;
  }

  .ico-text-card-2-infographics .ico-text-card-2-infographics-p3 {
    position: absolute;
    color: #ffffff;
    top: 79.7%;
    left: 50.4%;
    font-size: 100%;
    transform: translate(-50%, -50%);
    width: 34%;
    text-align: center;
  }
}

@media (max-width: 890px) {
  .ico-text-card-2 {
    width: 45%;
  }
}

@media (max-width: 755px) {
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p3,
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p2,
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p1 {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  .ico-text-card-1-container {
    margin: auto;
    padding: 2rem 0;
    row-gap: 1.5rem;
  }

  .ico-text-card-1-description {
    width: calc(100% - 2rem - 80px);
  }

  .ico-text-card-1-description ul li {
    padding-top: 0rem;
  }

  .ico-text-card-1 {
    gap: 1rem;
  }

  .ico-text-card-1-ico {
    width: 80px;
  }

  .ico-text-card-2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }

  .ico-text-card-2 {
    width: 100%;
    padding: 1rem 0;
  }

  .ico-text-card-2-container .ico-text-card-2:not(:first-child)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border: 1px dashed rgb(112, 112, 112, 0.5);
  }
}

@media (max-width: 650px) {
  .ico-text-card-2-infographics {
  width: 85%;
}
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p3,
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p2,
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p1 {
    font-size: 75%;
    width: 25%;
  }
}

@media (max-width: 590px) {
  .ico-text-card-2-infographics {
  width: 100%;
}
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p3,
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p2,
  .ico-text-card-2-infographics .ico-text-card-2-infographics-p1 {
    font-size: 70%;
    width: 35%;
  }
}

@media (min-width: 1200px) {
  .internal-pages-container {
    padding: 3rem;
  }
}

@media (min-width: 1400px) {
  .internal-pages-container {
    padding: 4rem 8rem;
  }

  .link-text {
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 3rem;
  }
}
