.ManagingCyberSecurityRisks .list-title {
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
}

.ManagingCyberSecurityRisks .num1-para {
  font-style: italic;
}

@media (max-width: 649px) {
  .ManagingCyberSecurityRisks .Header3 .container {
    padding-bottom: 0;
  }

  .container.noPTop {
    padding-top: 1rem;
  }
}


.ManagingCyberSecurityRisks .border {
  border: 1px dashed rgba(134, 134, 134, 0.5);
  margin: 2rem 1rem;
}

.VCard-cnt {
  margin-bottom: 2rem;
}

.v-small-text {
  text-align: center;
  margin: 1rem 0 0 0;
  font-size: 0.9375rem;
}

@media (min-width: 1024px) {

  .ManagingCyberSecurityRisks .mTop2 {
    margin: 3rem 0;
  }
}

@media (min-width: 1200px) {
  .ManagingCyberSecurityRisks .list-title {
    font-size: 1.3rem;
    margin: 0rem 0 2rem 0;
  }
}

@media (min-width: 1400px) {

  .ManagingCyberSecurityRisks .mTop2 {
    margin: 3rem 0;
  }
  .ManagingCyberSecurityRisks .list-title {
    font-size: 1.3rem;
    margin: 0rem 0 2rem 0;
  }
}
