.procurement .link-text {
  margin-bottom: 2rem;
}
.procurement .link-text p{
  font-size: 1.3rem;
}

.procurement .link-text strong {
  font-size: 1.5rem;
}

.procurement .subpagehero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 1rem;
}

.procurement .subpagehero img {
  height: 180px;
  width: 100%;
}

@media (min-width: 200px) {
  .procurement .subpagehero img {
    height: 100px;
    width: 100%;
  }
  .procurement .subpagehero {
    align-items: center;
  }
}

@media (min-width: 649px) {
  .procurement .subpagehero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .procurement .subpagehero img {
    height: 100px;
    width: 100%;
  }

  .container.noPTop {
    padding-top: 1rem;
  }
  .procurement .subpagehero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 724px) {
  .Header3 .container {
    padding: 8rem 1rem 2rem 1rem;
  }
  .procurement .list-title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .last-text {
    margin: 2rem 0;
  }
  .procurement .subpagehero img {
    height: 90px;
    width: 100%;
  }
}

@media (min-width: 919px) {
  .procurement .list-title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .procurement .list-title {
    text-align: center;
  }
  .procurement .subpagehero img {
    height: 110px;
    width: 100%;
  }
}

.link-text {
  margin-bottom: 2rem;
}

.procurement .border {
  border: 1px dashed rgba(134, 134, 134, 0.5);
  margin: 2rem 1rem;
}

.VCard-cnt {
  margin-bottom: 2rem;
}

.v-small-text {
  text-align: center;
  margin: 1rem 0 0 0;
  font-size: 0.9375rem;
}

@media (min-width: 1024px) {
  .link-text {
    text-align: center;
    max-width: 90%;
    margin: 1rem auto;
  }

  .procurement .mTop2 {
    margin: 3rem 0;
  }
  .procurement .subpagehero img {
    height: 120px;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .link-text {
    max-width: 90%;
    margin: 2rem auto;
    font-size: 1.5rem;
  }

  .procurement .mTop2 {
    margin: 3rem 0;
  }
  .procurement .subpagehero img {
    height: 120px;
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .link-text {
    max-width: 1480px;
    margin: 2rem auto;
  }
}
