.qii1-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  /* added */
  align-items: stretch;
}

.title-text {
  font-size: 1.2rem;
}

.qii1-text-cnt {
  width: 100%;
}

.qii1-sub-text {
  margin: 0rem 7rem 3rem 7rem;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
}

.ico-text-card-3-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  transition: 0.5s;
  /* height: 369px; */
}

/* .ico-text-card-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
} */

.ico-text-card-3 {
  width: 100%;
  gap: 2rem;
  /* padding: 2rem 0; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 
.ico-text-card-3:nth-child(odd)::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: calc(80% - 7.5rem);
  border-right: 2px dotted #999;
} */

.ico-text-card-3-ico {
  background-color: #fff;
  width: 8rem;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ico-text-card-3-ico img {
  width: 5rem;
}

.ico-text-card-3-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 95%;
  /* font-size: 1.3rem; */
}

.ico-text-card-3-title {
  text-align: center;
  font-weight: 900;
  font-size: 1.1rem;
}

.ico-text-card-3-desc {
  text-align: center;
  font-size: 1rem;
}

.ico-text-card-3-link-container {
  width: 100%;
  margin: 5rem 1rem 1rem 5rem;
}

.ico-text-card-3-link {
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.page-animate {
  animation: fadeSlideIn 0.4s ease-in-out;
}

.qii1-video-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #fff;
  color: #000;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 1rem;
  transition:
    transform 0.4s,
    background 0.18s;
  cursor: pointer;
}

.qii1-video-cta:hover {
  background: #00a996;
  border: none;
  color: #fff;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.qii1 .container-qii1 {
  padding: 5rem 3rem 2rem 3rem;
}

.qii1 .video-text-box {
  width: 50%;
}

.text-cnt-container {
  width: 50% !important;
}

.qii1-video-text-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

/* .qii1-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
} */

.qii1-video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.qii1-text-cnt {
  width: 100%;
}

.qii1-further-reading-container {
  margin: 1rem 3rem 3rem 3rem;
  /* padding: 0rem 0rem 5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem; */
  font-size: 1.2rem;
  font-weight: 950;
  width: 100%;
}

.qii1-further-reading-continer-big-1 {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.qii1-further-reading-continer-big {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.qii1-further-reading-continer-small {
  width: 50%;
}

.qii1-further-reading {
  width: 95%;
}

/* .qii1-further-reading-container .qii1-further-reading {
  margin-top: 2rem;
} */

.qii1-further-reading-link-container {
  width: 80%;
  display: flex;
  gap: 1rem;
}

.qii1-further-reading-container .qii1-further-reading-container-subtitle {
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.qii1-further-reading-container .qii1-further-reading-container-links li {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 1rem;
  color: #009fda;
}

.qii1-further-reading-container .qii1-further-reading-container-links li:hover {
  color: #009fda;
  text-decoration: underline;
}

.qii1-further-reading-container .qii1-further-reading-link {
  font-size: 0.9rem;
  margin-top: 0.7rem;
  font-weight: 100;
}

.qii1 .video-gif-content {
  position: relative;
  /* padding: 463px 20px 20px 20px; */
  padding: 377px 20px 20px 20px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.25) 50%,
    transparent 100%
  );
  z-index: 1;
}

@media (max-width: 1250px) {
  .qii1-video-text-cnt {
    flex-direction: column;
  }
  .qii1 .qii1-video-text-cnt .video-text-box {
    width: 100%;
  }
  .qii1-text-cnt {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .qii1-card-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* added */
    align-items: stretch;
  }
  .center-text {
    font-size: 1rem;
  }
  .title-text {
    font-size: 1.1rem;
  }
}

@media (max-width: 950px) {
  .ico-text-card-3-container {
    gap: 0rem;
    width: 100%;
  }

  .ico-text-card-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: calc(90% - 2rem);
  }

  /* .ico-text-card-3:nth-child(odd)::before {
    display: none;
  } */

  .title-text {
    font-size: 1rem;
  }

  .ico-text-card-3-ico {
    width: 7rem;
    align-items: center;
  }

  .ico-text-card-3-ico img {
    width: 4rem;
  }

  .ico-text-card-3-description {
    width: 100%;
  }

  .ico-text-card-3-title {
    font-weight: 900;
    font-size: 1rem;
  }

  .ico-text-card-3-desc {
    font-size: 1rem;
  }

  .ico-text-card-3-link-container {
    margin: 4rem 1rem 1rem 5rem;
  }

  .ico-text-card-3-link {
    font-size: 0.7rem;
  }
}

@media (max-width: 690px) {
  .ico-text-card-3 {
    width: 100%;
  }
  .qii1-card-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* aded */
    align-items: stretch;
  }

  .ico-text-card-3-link-container {
    width: 70%;
  }
}

/* Card 4 Grid */

.card-4-grid {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .card-4-grid {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* card 5 css */

.card-5 {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  color: black;
  padding: 1rem;
}

.card-5 .card-5-btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  height: 40%;
  padding: 1rem;
  border-bottom: 4px solid #00a996;
}

.card-5 .card-5-btn-container .card-5-btn {
  background-color: #fff;
  border-radius: 50px;
  font-style: normal;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
  border: 1px solid rgb(199, 197, 197);
}

.card-5 .card-5-btn:hover,
.card-5 .card-5-btn-container .card-5-btn-active {
  background-color: #00a996;
  color: #fff;
  /* border: none; */
  border: 1px solid #00a996;
  transition: 0.4s ease-in-out;
}

.card-5 .card-5-content {
  height: 60%;
  background-color: #fff;
  color: black;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 3rem;
  width: 100%;
}

.card-5-content-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  flex-direction: column;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  background-color: #f7f7f7;
}

.card-5 .card-5-content-circle p {
  text-align: center;
  font-size: 1rem;
  width: 70%;
}

.card-5 .card-5-content-circle p strong {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  color: #00a996;
}

.card-5 .card-5-content-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-5 .card-5-content-country {
  font-size: 0.9rem;
}

.card-5 .card-5-content-title {
  font-size: 1.1rem;
  font-weight: 900;
}

.card-5 .card-5-content-description {
  font-size: 1rem;
}
/* 
.card-5 .card-5-content-description a {
  pointer-events: auto;
  color: blue;
  text-decoration: underline;
  font-weight: 600;
} */

.card-active {
  transform: translateY(1rem);
}

@media (max-width: 1100px) {
  .card-5 .card-5-btn-container {
    flex-wrap: wrap;
    width: 100%;
    padding: 3rem;
    gap: 0.5rem;
  }
}

@media (max-width: 980px) {
  .card-5 .card-5-content {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .card-5-content-circle {
    height: 8rem;
    width: 8rem;
  }
  .card-5 .card-5-content-circle p {
    font-size: 0.9rem;
  }

  .card-5 .card-5-content-circle p strong {
    font-size: 1.5rem;
  }
  .card-5 .card-5-content-country {
    font-size: 0.8rem;
  }

  .card-5 .card-5-content-title {
    font-size: 1rem;
    font-weight: 900;
  }

  .card-5 .card-5-content-description {
    font-size: 0.9rem;
  }
}

@media (max-width: 630px) {
}
