* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.case-wrapper {
  padding: 5rem 3rem 2rem 3rem;
}

.case-card {
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.case-image-card {
  position: relative;
  border-radius: 36px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.case-bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.case-image-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.05)
  );
}

.case-heading {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  color: #fff;
}

.case-heading h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  padding: 1rem;
}

.case-heading span {
  font-weight: 600;
}

.case-content {
  z-index: 3;
  background: #ffffff;
  border-radius: 36px;
  padding: 1.5rem 2rem;
}

.case-title {
  display: inline-block;
  padding: 0.4rem 1.1rem;
  background: #ffff;
  color: #000;
  border-radius: 999px;
  font-size: 1.5rem;
  font-weight: 800px;
  margin-bottom: 1.2rem;
}

.case-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, (5, 1fr));
  gap: 1rem;
}

.case-item {
  font-size: 0.85rem;
}

.case-item.wide {
  grid-column: span 2;
}

.label {
  display: block;
  font-size: 1rem;
  font-weight: 600px;
  color: #000;
  margin-bottom: 0.3rem;
}

.case-item p,
.case-item li {
  color: #111827;
  line-height: 1.4;
}

.case-item ul {
  /* padding-left: 1.1rem; */
}


