* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.single-case-study-wrapper {
  margin: 6rem 0 0 0;
  background-image:
    linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.6) 85%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("images/qii2/Fukuoka_Case_study.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 35px;
  overflow: hidden;
  box-shadow:
    rgba(50, 50, 93, 0.15) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;
}

.single-case-study-wrapper .main-title {
  color: #ffffff;
  width: 40%;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
  padding: 3rem 3rem 10rem 3rem;
}

.single-case-study-wrapper .main-title span {
  font-weight: 600;
}

.single-case-study-wrapper .sub-title {
  background: url("images/qii2/case_study_title_holder.png") no-repeat;
  padding: 1.25rem 3rem;
  background-size: auto 159px;
}

.single-case-study-wrapper .sub-title h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
}

.single-case-study-wrapper .case-study-details {
  width: 100%;
  border-radius: 0 35px 0 0;
  background: #ffffff;
}

.single-case-study-wrapper .case-study-details {
  display: flex;
  align-items: start;
}

.single-case-study-wrapper .case-study-details .icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 2rem 2rem 2rem;
}

.single-case-study-wrapper .case-study-details .icon-title img {
  height: 3.3rem;
}

.single-case-study-wrapper .case-study-details .icon-title h3 {
  font-family: "asap", sans-serif;
  font-size: 1.5rem;
}

.single-case-study-wrapper .case-study-details .icon-title p {
  font-family: "asap", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5rem;
}

.single-case-study-wrapper .case-study-details .icon-title ul li {
  font-family: "asap", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.single-case-study-wrapper
  .case-study-details
  .icon-title
  ul
  li:not(:first-child) {
  margin-top: 0.8rem;
}

.single-case-study-wrapper .case-study-details .case-study-details-card {
  position: relative;
}

.single-case-study-wrapper
  .case-study-details
  .case-study-details-card:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 5.1rem;
  left: 0;
  height: calc(100% - 5.1rem - 2rem);
  width: 0px;
  border: 1px dashed rgb(112, 112, 112, 0.5);
}

.single-case-study-wrapper
  .case-study-details
  .case-study-details-card:nth-child(1),
.single-case-study-wrapper
  .case-study-details
  .case-study-details-card:nth-child(2),
.single-case-study-wrapper
  .case-study-details
  .case-study-details-card:nth-child(3) {
  width: 14%;
}

.single-case-study-wrapper
  .case-study-details
  .case-study-details-card:nth-child(4) {
  width: 29%;
}

.single-case-study-wrapper
  .case-study-details
  .case-study-details-card:nth-child(5) {
  width: 29%;
}

.single-case-study-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 3.5rem;
}

.single-case-study-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.single-case-study-button .arrow-btn {
  color: #00a996;
  background-color: #ffffff;
  font-size: 1.2rem;
}

.single-case-study-button:hover .arrow-btn {
  background-color: #00a996;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .single-case-study-wrapper .main-title {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .single-case-study-wrapper .sub-title h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .single-case-study-wrapper .case-study-details .icon-title img {
    height: 2.8rem;
  }
  .single-case-study-wrapper .case-study-details .icon-title h3 {
    font-size: 1.285rem;
  }
  .single-case-study-wrapper .case-study-details .icon-title p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .single-case-study-wrapper .case-study-details .icon-title ul li {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

@media (max-width: 1000px) {
  .single-case-study-wrapper .main-title {
    width: 60%;
  }
  .single-case-study-wrapper .case-study-details .icon-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  .single-case-study-wrapper {
    margin: 3rem 0 0 0;
  }
  .single-case-study-wrapper .main-title {
    width: 80%;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1.5rem 1.5rem 10rem 1.5rem;
  }
  .single-case-study-wrapper .sub-title {
    background: none;
    display: flex;
    justify-content: center;
  }
  .single-case-study-wrapper .sub-title h2 {
    font-size: 1.5rem;
    background: #ffffff;
    padding: 0.6rem 1.5rem;
    border-radius: 15px;
  }
  .single-case-study-wrapper .case-study-details {
    flex-wrap: wrap;
    justify-content: center;
  }
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(1),
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(2),
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(3) {
    width: 33%;
    padding: 1rem;
  }
  .single-case-study-wrapper .case-study-details {
    border-radius: 15px 15px 0 0;
  }
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(4),
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(5) {
    width: 80%;
    padding: 1rem;
  }

  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(4) {
    padding: 1rem 3rem;
  }
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(4)::after,
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(5)::after {
    width: 70%;
    height: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .single-case-study-buttons {
    margin-top: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 690px) {
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(4),
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(5) {
    width: 100%;
  }
  .single-case-study-buttons {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .single-case-study-wrapper {
    margin: 2rem 0 0 0;
  }
  .single-case-study-wrapper .main-title {
    width: 100%;
    padding: 1.5rem 1.5rem 5rem 1.5rem;
  }
  .single-case-study-wrapper .sub-title h2 {
    font-size: 1.1rem;
  }
  .single-case-study-wrapper .case-study-details .icon-title img {
    display: none;
  }
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(1),
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(2) {
    width: 50%;
    padding: 1rem;
  }

  .single-case-study-wrapper .case-study-details .icon-title {
    gap: 0.2rem;
  }

  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(1)::after,
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(2)::after {
    top: 50%;
    transform: translate(-50%);
    height: 1rem;
    border: 1px solid rgb(112, 112, 112, 1);
  }
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(3),
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(4),
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(5) {
    width: 100%;
    padding: 1rem;
  }

  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(3)::after,
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(4)::after,
  .single-case-study-wrapper
    .case-study-details
    .case-study-details-card:nth-child(5)::after {
    width: 1rem;
    height: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(112, 112, 112, 1);
  }
}
