


@media (min-width: 768px) {
  .top-resource-card-cnt-qii4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    max-width: 1270px;
    margin: 1.25rem auto;
    padding-bottom: 3rem;
  }
}

@media (min-width: 1200px) {
  .top-resource-card-cnt-qii4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .top-resource-card-btn {
    width: 50px;
    height: 50px;
  }
}
