@media (max-width: 649px) {

	.container.noPTop {
		padding-top: 1rem;
	}
}
@media (min-width: 768px) {
  .top-resource-card-cnt-qii4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    max-width: 1270px;
    margin: 1.25rem auto;
    padding-bottom: 3rem;
  }
}


@media (min-width: 1200px) {
  .top-resource-card-cnt-qii4 {
    grid-template-columns: repeat(2, 1fr);
  }
}


.procurement .border {
	border: 1px dashed rgba(134, 134, 134, 0.5);
	margin: 2rem 1rem;
}

.VCard-cnt {
	margin-bottom: 2rem;
}

.v-small-text {
	text-align: center;
	margin    : 1rem 0 0 0;
	font-size : 0.9375rem;
}

@media (min-width: 1024px) {

	.procurement .mTop2 {
		margin: 3rem 0;
	}
}

@media (min-width: 1400px) {
	.procurement .mTop2 {
		margin: 3rem 0;
	}
}

@media (min-width: 1600px) {

}