.ResilientDesignAndOperation .list-title {
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
}

@media (max-width: 649px) {
  .ResilientDesignAndOperation .Header3 .container {
    padding-bottom: 0;
  }

  .container.noPTop {
    padding-top: 1rem;
  }
  .ResilientDesignAndOperation .hero {
    height: 360px;
  }

  .ResilientDesignAndOperation .hero-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .ResilientDesignAndOperation .hero-content {
    bottom: 2rem;
  }

  .ResilientDesignAndOperation .hero-content p {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) {
  .ResilientDesignAndOperation .list-title {
    font-size: 1.3rem;
    margin-bottom: 1.5625rem;
  }
  .ResilientDesignAndOperation .num-step {
		display        : flex;
		justify-content: flex-start;
		align-items    : flex-start;
		gap            : 1rem;
		margin-bottom  : 1.875rem;
	}
}

@media (min-width: 992px) {
  .ResilientDesignAndOperation .list-title {
    text-align: center;
  }
}

.link-text {
  margin-bottom: 2rem;
}

.ResilientDesignAndOperation .border {
  border: 1px dashed rgba(134, 134, 134, 0.5);
  margin: 2rem 1rem;
}

.VCard-cnt {
  margin-bottom: 2rem;
}

.v-small-text {
  text-align: center;
  margin: 1rem 0 0 0;
  font-size: 0.9375rem;
}

@media (min-width: 1024px) {
  .link-text {
    text-align: center;
    max-width: 100%;
    margin: 1rem auto;
  }

  .ResilientDesignAndOperation .mTop2 {
    margin: 3rem 0;
  }
}

@media (min-width: 1200px) {
  .ResilientDesignAndOperation .list-title {
    font-size: 1.5rem;
    margin: 2.075rem 0 3.775rem 0;
  }
  .ResilientDesignAndOperation .num-step {
		margin-bottom: 1rem;
		gap          : 1.8rem;
	}
}

@media (min-width: 1400px) {
  .link-text {
    max-width: 100%;
    margin: 1rem auto;
    font-size: 1.875rem;
  }

  .ResilientDesignAndOperation .mTop2 {
    margin: 3rem 0;
  }
  .ResilientDesignAndOperation .hero {
    height: 640px;
  }
  .ResilientDesignAndOperation .hero-content h3 {
    font-size: 3.25rem;
  }

  .ResilientDesignAndOperation .hero-content p {
    font-size: 1.125rem;
  }
  .ResilientDesignAndOperation .list-title {
    font-size: 1.5rem;
    margin: 2.075rem 0 3.775rem 0;
  }
  .ResilientDesignAndOperation .num-step {
		margin: 0 1rem 1rem 1rem;
		gap   : 2rem;
	}
}

@media (min-width: 1600px) {
  .link-text {
    max-width: 1580px;
    margin: 1rem auto;
  }
}

.qii4-note {
  padding: 0 7rem;
}

@media (max-width: 600px) {
  .qii4-note {
    padding: 1rem 2rem;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .qii4-note {
    padding: 1rem 0rem;
  }
}

@media (max-width: 1000px) {
  .qii4-note {
    padding: 1rem 1rem;
  }
}

@media (max-width: 1400px) {
  .qii4-note {
    padding: 1rem 1rem;
  }
}
