.technicalSolutions .subpagehero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 1rem;
}

.technicalSolutions .subpagehero img {
  height: 180px;
  width: 100%;
}

@media (max-width: 649px) {
  .technicalSolutions .Header3 .container { 
    padding-bottom: 0;
  }

  .container.noPTop {
    padding-top: 1rem;
  }
}

.technicalSolutions .border {
  border: 1px dashed rgba(134, 134, 134, 0.5);
  margin: 2rem 1rem;
}

.VCard-cnt {
  margin-bottom: 2rem;
}

.v-small-text {
  text-align: center;
  margin: 1rem 0 0 0;
  font-size: 0.9375rem;
}

.technicalSolutions .subpagehero img {
  height: 100px;
  width: 100%;
}

.technicalSolutions .subpagehero {
  text-align: center;
}

@media (min-width: 992px) {
	.technicalSolutions .subpagehero img {
    height: 110px;
    width: 100%;
  }
}

@media (min-width: 1024px) {

  .technicalSolutions .mTop2 {
    margin: 2rem 0;
  }
  .technicalSolutions .subpagehero img {
    height: 120px;
    width: 100%;
  }
}

@media (min-width: 1400px) {

  .technicalSolutions .mTop2 {
    margin: 2rem 0;
  }
  .technicalSolutions .subpagehero img {
    height: 120px;
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .technicalSolutions .subpagehero img {
    height: 120px;
    width: 100%;
  }
}
