.image-statement-container {
  width: 100%;
  padding: 12rem 6rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 10% 14%;
}

.image-statement-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 70%,
    rgba(0, 0, 0, 0.85) 100%
  );
  z-index: 0;
}

.image-statement-container p {
  position: absolute;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  width: 40%;
  z-index: 5;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);
}

@media (max-width: 1100px) {
  .image-statement-container {
    padding: 8rem 4rem;
  }
}

@media (max-width: 767px) {
  .image-statement-container p {
    width: 100%;
    padding: 0 2rem;
    left: 0;
    font-size: 1.2rem;
  }

  .image-statement-container::before {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 70%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 0;
}
}
