.case-card {
	margin: 0 auto;
}

.case-card .step {
	margin-bottom: 1rem;
}

.case-card .step-number {
	background-color: #002244;
	width           : 50px;
	height          : 50px;
	border-radius   : 50%;
	color           : #fff;
	text-align      : center;
	display         : flex;
	justify-content : center;
	align-items     : center;
	font-size       : 1.4rem;
	flex-shrink     : 0;
	margin          : 0 auto 1rem;
}

.case-card ul {
	margin: 1rem 0 1rem 1rem;
}

.case-card li {
	margin-bottom: 0.7rem;
}

.case-card .case-body {}

.case-card .case-image img {
	width        : 100%;
	height       : auto;
	border-radius: 15px;
	object-fit   : cover;
	margin-bottom: 1rem;
	box-shadow   : 0px 15px 40px rgba(0, 0, 0, 0.15);
}

.case-card .description {
	margin-bottom: 1rem;
}

.case-card .case-footer {
	display        : flex;
	justify-content: flex-end;
	align-items    : center;
	gap            : 10px;
	margin-top     : 1rem;
}

.case-card .case-btn {
	width           : 40px;
	height          : 40px;
	background-color: var(--color-primary);
	box-shadow      : 0px 15px 20px rgba(0, 0, 0, 0.25);
	border          : none;
	border-radius   : 50%;
	color           : #fff;
	font-size       : 1.25rem;
	display         : flex;
	justify-content : center;
	align-items     : center;
	cursor          : pointer;
}

.case-card .case-btn:hover {
	background-color: #fff;
	color           : var(--color-primary);
}

@media (min-width: 768px) {
	.case-card .step {
		display        : flex;
		justify-content: flex-start;
		align-items    : flex-start;
		gap            : 1rem;
	}

}

@media (min-width: 992px) {
	.case-card .case-body {
		border-radius: 35px;
		background   : #fff;
		box-shadow   : 0px 15px 40px rgba(0, 0, 0, 0.15);
		padding      : 20px;
		position     : relative;
	}

	.case-card .case-image {
		overflow     : hidden;
		position     : absolute;
		width        : 40%;
		height       : 100%;
		left         : 0;
		top          : 0;
		border-radius: 35px
	}


	.case-card .case-content {
		width       : auto;
		position    : relative;
		padding-left: 42%;
	}


	.case-card .case-image img {
		width     : auto;
		height    : 100%;
		box-shadow: none;
		margin    : 0 auto;
		display   : block;
		position  : absolute;
		right     : 0;
		top       : 0;
		max-width : none;
	}
}

@media (min-width: 1200px) {

	.case-card .case-body {
		padding: 40px;
	}

	.case-card .case-content {
		padding-left: 43%;
	}
}