.card-4 {
  position: relative;
  width: 33%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  overflow: hidden;
  padding: 2rem;
  color: #fff;
}

.card-4 h2 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 600;
}

.card-4 h2 span {
  font-size: 0.9rem;
  font-weight: normal;
}

.card-4 p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.card-4 .card-4-footer {
  margin-top: 3rem;
  padding-bottom: 3rem;
} 

.card-4 .card-btn-cnt {
  position: absolute;
  bottom: 2rem;
}

.card-4 .card-btn-cnt a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}


@media (max-width: 1000px) {
  .card-4 {
  width: 48%;
}
} 

@media (max-width: 700px) {
  .card-4 {
  width: 100%;
}
} 


