.search-container {
	width    : 100%;
	max-width: 600px;
	margin   : 1.2rem auto;
	position : relative;
}

.search-input-wrapper {
	display    : flex;
	align-items: center;
	position   : relative;
}

.search-input-wrapper input {
	width        : 100%;
	padding      : 10px 40px 10px 10px;
	border       : none;
	border-bottom: 1px solid rgba(112, 112, 112, 0.3);
	outline      : none;
	font-size    : 0.9rem;
	background   : transparent;
	outline      : none !important;
}

.search-input-wrapper input:focus-visible,
.search-input-wrapper input:focus {
	outline: none !important;
}

.search-btn {
	font-size      : 1.4rem;
	background     : var(--color-primary);
	border         : none;
	border-radius  : 50%;
	width          : 41px;
	height         : 41px;
	cursor         : pointer;
	color          : #fff;
	display        : flex;
	justify-content: center;
	align-items    : center;
	flex-shrink    : 0;
	font-weight    : bold;
}

.search-results {
	margin-top   : 10px;
	background   : #fff;
	border-radius: 10px;
	padding      : 10px;
	box-shadow   : 0 2px 5px rgba(0, 0, 0, 0.1);
	/* z-index: 9999; */
	max-height: 100px;
	overflow-y: auto;

}

.search-item {
	display    : flex;
	align-items: center;
	padding    : 8px 5px;
	font-size  : 14px;
	color      : #A3A3A3;
	cursor     : pointer;
	font-size  : 1rem;
}

.search-item .icon-arrow {
	margin-right: 10px;
	color       : #A3A3A3;
	font-size   : 10px;
}

@media (min-width: 1200px) {
	.search-input-wrapper input {
		font-size: 1rem;
	}

	.search-results {
		position: absolute;
		width   : 100%;
		left    : 0;
		top     : 35px;
	}


}

@media (min-width: 1400px) {
	.search-btn {
		width    : 52px;
		height   : 52px;
		font-size: 2.3rem;
	}

	.search-input-wrapper input {
		font-size: 1rem;
	}

	.search-container {
		margin: 4rem 0 1.2rem 0
	}
}