nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  /* padding-left: 10px; */
  /* new */
  height: 50px;
}

nav .nav-cnt {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-cnt-left {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrump {
  position: absolute;
  top: 50%;
  left: 420px;
  transform: translateY(-50%);
  display: flex;
  gap: 0.6rem;
  align-items: center;
  /* width: 100%; */
  background: none;
  /* background: rgba(255, 255, 255, 0.5); */
  padding: 0px 1rem;
  /* backdrop-filter: blur(12px); */
  /* box-shadow: 1px 4px 7px -3px rgb(0, 0, 0, 0.23); */
  /* margin-top: 10px; */
  border-radius: 8rem;
  width: auto;
}

@media (max-width: 1200px) {
  .breadcrump {
    left: 320px;
  }
}

@media (max-width: 768px) {
  .breadcrump {
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    justify-content: center;
  }
}

/* @media (max-width: 53px) {
  .breadcrump {
    flex-wrap: wrap;
  }
} */

.breadcrump button {
  border: none;
  background: transparent;
  /* background: #ffffff; */
  color: blue;
  border-radius: 6rem;
  /* box-shadow: 0px 3px 6px #00000029; */
  padding: 0.3rem 0rem;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.5s;
}
.breadcrump button:hover {
  /* background: #ffffff; */
  color: #000000;
}

.breadcrump img {
  width: 0.6rem;
}

.breadcrump p {
  color: #000000;
  font-size: 0.8rem;
}

nav .logo-cnt {
  display: none;
}

nav .right-panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  gap: 5px;
  padding-right: 20px;
  transition: 0.25s ease-in-out;
  width: 100%;
}

nav .nav-btn {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.nav-menu-btn {
  transform: rotate(0deg);
  /* transition: 0.5s ease-in-out; */
}

.nav-menu-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 8px;
  transition: 0.25s ease-in-out;
}

.menu-splitter {
  display: none;
}

.nav-menu-btn span:nth-child(1) {
  top: 12px;
}

.nav-menu-btn span:nth-child(2) {
  top: 17px;
}

.nav-menu-btn span:nth-child(3) {
  top: 22px;
}

.nav-menu-btn.open span:nth-child(1) {
  top: 17px;
  transform: rotate(135deg);
}

.nav-menu-btn.open span:nth-child(2) {
  opacity: 0;
}

.nav-menu-btn.open span:nth-child(3) {
  top: 17px;
  transform: rotate(-135deg);
}

.nav-menu-btn:hover span {
  background: #fff;
}

.nav-btn {
  padding: 0;
}

.nav-btn .icon-home {
  font-size: 20px;
}

.nav-btn-link {
  background-color: #fff;
  border: none;
  font-size: 1rem;
  padding: 4px 14px;
}

.nav-sub-menu {
  max-width: 300px;
  background-color: #fff;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  right: -300px;
  top: 40px;
  width: 100%;
  border-radius: 8px 0 0 8px;
  transition: right 0.3s ease-in-out;
}

.nav-sub-menu .logo-splitter {
  height: 22px;
  width: 2px;
  margin: 0.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav-sub-menu.open {
  right: 0;
}

@media (max-width: 767px) {
  nav.scrolled {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
    box-shadow: 1px 4px 7px -3px rgb(0, 0, 0, 0.23);
  }
}

@media (min-width: 768px) {
  nav {
    top: 23px;
  }

  .nav-sub-menu {
    width: 300px;
    right: -400px;
    top: 45px;
  }

  .nav-sub-menu.open {
    right: -16px;
  }

  nav .logo-cnt {
    width: 300px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.16);
    border-radius: 37px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    gap: 5px;
    padding: 0 10px;
  }

  nav .nav-cnt {
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 43px;
    opacity: 1;
    backdrop-filter: blur(12px);
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 4px 7px -3px rgb(0, 0, 0, 0.23);
  }

  .nav-cnt-left {
    height: 40px;
  }

  nav .right-panel {
    width: auto;
  }

  .logo-1 {
    width: 130px;
    height: 30px;
  }

  .logo-2 {
    width: 100px;
    height: 30px;
  }

  nav .logo-splitter {
    height: 20px;
    width: 1px;
    background-color: #000;
  }
}

@media (min-width: 1010px) {
  nav .nav-cnt {
    height: 50px;
  }

  .nav-cnt-left {
    height: 50px;
  }

  nav .logo-cnt {
    width: 320px;
    height: 50px;
  }

  .nav-sub-menu {
    width: 0;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.15);
    border-radius: 46px;
    flex-direction: row;
    padding: 0;
    position: relative;
    top: auto;
    right: 0 !important;
    align-items: center;
    max-width: none;
    transition: width ease-in 0.2s;
    overflow: hidden;
  }

  .nav-sub-menu-cnt {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    position: absolute;
    right: 0;
    top: 5px;
    opacity: 0;
    transition: all ease-in 0.4s;
  }

  .nav-sub-menu.open {
    right: auto;
    width: 320px;
    overflow: visible;
  }

  .nav-sub-menu.open .nav-sub-menu-cnt {
    opacity: 1;
  }

  nav .nav-btn {
    width: 40px;
    height: 40px;
  }

  .nav-menu-btn span {
    height: 2px;
    width: 23px;
    left: 9px;
  }

  .nav-menu-btn span:nth-child(1) {
    top: 14px;
  }

  .nav-menu-btn span:nth-child(2) {
    top: 20px;
  }

  .nav-menu-btn span:nth-child(3) {
    top: 26px;
  }

  .nav-menu-btn.open span:nth-child(1) {
    top: 19px;
  }

  .nav-menu-btn.open span:nth-child(3) {
    top: 19px;
  }
}

@media (min-width: 1200px) {
  nav .logo-cnt {
    width: 415px;
    height: 51px;
  }

  .logo-1 {
    width: auto;
  }

  .logo-2 {
    width: auto;
  }
}

@media (min-width: 1600px) {
  nav .nav-cnt {
    height: 60px;
  }

  .nav-cnt-left {
    height: 60px;
  }

  nav .logo-cnt {
    height: 60px;
  }

  nav .logo-splitter {
    height: 30px;
  }

  .nav-sub-menu {
    height: 50px;
  }

  .nav-sub-menu-cnt {
    top: 10px;
  }

  .nav-sub-menu.open {
    right: auto;
    width: 320px;
    overflow: visible;
  }

  .nav-sub-menu.open .nav-sub-menu-cnt {
    opacity: 1;
  }

  nav .nav-btn {
    width: 50px;
    height: 50px;
  }

  .nav-menu-btn span {
    height: 2px;
    width: 23px;
    left: 9px;
  }

  .nav-menu-btn span {
    left: 11px;
    width: 28px;
  }

  .nav-menu-btn span:nth-child(1) {
    top: 18px;
  }

  .nav-menu-btn span:nth-child(2) {
    top: 25px;
  }

  .nav-menu-btn span:nth-child(3) {
    top: 32px;
  }

  .nav-menu-btn.open span:nth-child(1) {
    top: 23px;
  }

  .nav-menu-btn.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  .nav-menu-btn.open span:nth-child(3) {
    top: 23px;
  }

  .nav-btn .icon-home {
    font-size: 28px;
  }

  nav .right-panel {
    gap: 5px;
  }

  nav .right-panel.open {
    gap: 20px;
  }
}
