.top-resource-card {
	border-radius: 15px;
	margin       : 0 auto 3rem;
	max-width    : 380px;
}

.top-resource-card .r-type {
	background-color: rgba(161, 203, 220, 0.7);
	padding         : 7px 19px;
	border-radius   : 50px;
	font-size       : 0.9rem;
}

.top-resource-cardImg {
	border-radius: 15px;
	box-shadow   : 0px 15px 40px rgba(0, 0, 0, 0.25);
}

.top-resource-cardBody {
	padding        : 1rem;
	display        : flex;
	justify-content: space-between;
	align-items    : center;
	gap            : 15px;
}


/* .top-resource-card-footer {} */

.top-resource-card-btn {
	width           : 40px;
	height          : 40px;
	background-color: #fff;
	box-shadow      : 0px 15px 20px rgba(0, 0, 0, 0.25);
	border          : none;
	border-radius   : 50%;
	color           : #000;
	font-size       : 1.25rem;
	display         : flex;
	justify-content : center;
	align-items     : center;
	cursor          : pointer;
	flex-shrink     : 0;
}

.top-resource-card-btn:hover {
	background-color: var(--color-primary);
	color           : #fff;
}

.top-resource-card-btn-cnt {
	display        : inline-flex;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
	max-width      : 140px;
	text-align     : right;
}

@media (min-width: 600px) {


	.top-resource-card-btn-cnt {
		max-width: 170px;
	}
}

@media (min-width: 768px) {
	.top-resource-card-cnt {
		display              : grid;
		grid-template-columns: repeat(3, 1fr);
		gap                  : 2rem;
		justify-content      : start;
		max-width            : 1270px;
		margin               : 1.25rem auto;
		padding-bottom       : 3rem;
	}

	.top-resource-card {
		max-width     : 450px;
		margin        : 0 auto 0.5rem;
		padding-bottom: 20px;
		position      : relative;
	}

	.top-resource-cardBody {
		padding: 1.5rem;
	}

	.top-resource-card-footer {
		padding: 0 1.5rem;
	}

	.top-resource-card-footer {
		position: absolute;
		bottom  : 0;
		width   : 100%;
		left    : 0;

	}

}

@media (min-width: 1200px) {


	.top-resource-card {
		max-width: 500px;
	}

	.top-resource-cardBody {
		padding: 1.8rem;
	}

	.top-resource-card-footer {
		padding: 0 1.8rem;
	}

	.top-resource-card-cnt {
		grid-template-columns: repeat(3, 1fr);
	}

	.top-resource-card-btn {
		width : 50px;
		height: 50px;
	}

}

@media (min-width: 1400px) {
	.top-resource-cardImg {
		border-radius: 35px;
	}

	.top-resource-card-btn-cnt {
		max-width: 230px;
	}

	.top-resource-card-btn {
		width : 60px;
		height: 60px;
	}



	.top-resource-cardBody {
		padding: 2rem;
	}

	.top-resource-card-footer {
		padding: 0 2rem;
	}
}

@media (min-width: 1600px) {}