.VCard {
  background-color: #fff;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  margin: 0 auto 1.8rem;
  max-width: 380px;
  position: relative;
  /* overflow: hidden; */
}

.VCardImg {
  border-radius: 25px;
}

.vCardBody {
  padding: 1rem;
}

.v-title {
  margin-bottom: 0.85rem;
  font-size: 1.125rem;
}

.VCard-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 0 2rem 1.8rem;
  text-align: left;
}

.VCard-footer strong {
  text-align: left;
}

.VCard-btn {
  width: 40px;
  height: 40px;
  background-color: var(--color-primary);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
}

.VCard-btn:hover {
  background-color: #fff;
  color: var(--color-primary);
}

.v-btn-cnt {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  /* max-width: 140px; */
  text-align: right;
  width: 50%;
}

@media (min-width: 600px) {
  .v-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .v-btn-cnt {
    max-width: 170px;
  }
}

@media (max-width: 767px) {
  .VCard-footer {
    padding: 0 10px 1.2rem 1rem;
  }
}

@media (min-width: 768px) {
  .VCard-cnt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    justify-content: start;
    max-width: 1270px;
    margin: 1.25rem auto;
  }

  .col-2 .VCard {
    max-width: 90%;
  }

  /* .col-2 .VCard:nth-child(odd) {
    margin-left: 25%;
  }

  .col-2 .VCard:nth-child(even) {
    margin-right: 25%;
  } */

  .VCard {
    max-width: 450px;
    margin: 0 auto 0.5rem;
    padding-bottom: 80px;
    position: relative;
  }

  .vCardBody {
    padding: 1.5rem 1.5rem 0rem 1.5rem;
  }

  .VCard-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}

@media (min-width: 1200px) {
  .v-title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .VCard {
    max-width: 590px;
  }

  .col-2 .VCard {
    max-width: 75%;
  }

  .col-2 .VCard:nth-child(odd) {
    margin-left: 25%;
  }

  .col-2 .VCard:nth-child(even) {
    margin-right: 25%;
  }

  .vCardBody {
    padding: 1.8rem;
  }

  .VCard-footer strong {
    font-size: 1.2rem;
  }

  .VCard-btn {
    width: 40px;
    height: 40px;
  }

  .VCard-cnt.col3 {
    grid-template-columns: repeat(3, 1fr);
    max-width: 90%;
  }
}

@media (min-width: 1400px) {
  .VCard-footer strong {
    font-size: 1.375rem;
  }

  .v-btn-cnt {
    max-width: 230px;
  }

  .VCard-btn {
    width: 40px;
    height: 40px;
  }

  .v-title {
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }

  .vCardBody {
    padding: 2rem;
  }
}

@media (min-width: 1600px) {
  .VCard-footer strong {
    font-size: 1.6rem;
  }

  .VCardImg,
  .VCard {
    border-radius: 25px;
  }
}

/* added */

.VCard-cnt.col1 {
  grid-template-columns: 1fr;
  justify-items: center;
}

@media (min-width: 768px) {
  .VCard-cnt.col1 {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1200px) {
  .VCard-cnt.col1 {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1400px) {
  .VCard-cnt.col1 {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1600px) {
  .VCard-cnt.col1 {
    grid-template-columns: 1fr;
  }
}
